@font-face {
    font-family: "Venera";
    src: local('Venera-500'),
        url('./Assets/Fonts/Venera-500.otf') format('opentype');
}

@font-face {
    font-family: "Torus";
    font-weight: 100;
    src: local('Torus-Thin'),
        url('./Assets/Fonts/Torus-Thin.otf') format('opentype');
}

@font-face {
    font-family: "Torus";
    font-weight: 600;
    src: local('Torus-SemiBold'),
        url('./Assets/Fonts/Torus-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: "Torus";
    font-weight: 700;
    src: local('Torus-SemiBold'),
        url('./Assets/Fonts/Torus-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: "Torus";
    font-weight: 400;
    src: local('Torus-Regular'),
        url('./Assets/Fonts/Torus-Regular.otf') format('opentype');
}

@font-face {
    font-family: "Torus";
    font-weight: 300;
    src: local('Torus-Light'),
        url('./Assets/Fonts/Torus-Light.otf') format('opentype');
}

@font-face {
    font-family: "Torus";
    font-weight: 900;
    src: local('Torus-Heavy'),
        url('./Assets/Fonts/Torus-Heavy.otf') format('opentype');
}

@font-face {
    font-family: "Torus";
    font-weight: 800;
    src: local('Torus-Bold'),
        url('./Assets/Fonts/Torus-Bold.otf') format('opentype');
}

body {
    /* Torus, Inter, "Helvetica Neue", Tahoma, Arial,
  "Hiragino Kaku Gothic ProN", Meiryo, "Microsoft YaHei", "Apple SD Gothic Neo",
  sans-serif */
    font-family: "Torus", "Inter", "Helvetica Neue", Tahoma, Arial, "Hiragino Kaku Gothic ProN", Meiryo,
        "Microsoft YaHei", "Apple SD Gothic Neo", sans-serif;
    --forum-bg: hsl(var(--hsl-h1));
    --forum-text: #29b;
    --forum-text: #6cf;
    --forum-item-background-color: hsl(var(--hsl-b4));
    --forum-item-background-color-hover: hsl(var(--hsl-b3));
    --base-hue: 330deg !important;
    --base-hue-deg: calc(var(--base-hue)*1deg);
    --level-tier-iron: #bab3ab, #bab3ab;
    --level-tier-bronze: #b88f7a, #855c47;
    --level-tier-silver: #e0e0eb, #a3a3c2;
    --level-tier-gold: #f0e4a8, #e0c952;
    --level-tier-platinum: #a8f0ef, #52e0df;
    --level-tier-rhodium: #d9f8d3, #a0cf96;
    --level-tier-radiant: #97dcff, #ed82ff;
    --level-tier-lustrous: #ffe600, #ed82ff;
    --hsl-p: var(--base-hue), 100%, 50%;
    --hsl-h1: var(--base-hue), 100%, 70%;
    --hsl-h2: var(--base-hue), 50%, 45%;
    --hsl-c1: var(--base-hue), 40%, 100%;
    --hsl-c2: var(--base-hue), 40%, 90%;
    --hsl-l1: var(--base-hue), 40%, 80%;
    --hsl-l2: var(--base-hue), 40%, 75%;
    --hsl-l3: var(--base-hue), 40%, 70%;
    --hsl-l4: var(--base-hue), 40%, 50%;
    --hsl-d1: var(--base-hue), 20%, 35%;
    --hsl-d2: var(--base-hue), 20%, 30%;
    --hsl-d3: var(--base-hue), 20%, 25%;
    --hsl-d4: var(--base-hue), 20%, 20%;
    --hsl-d5: var(--base-hue), 20%, 15%;
    --hsl-d6: var(--base-hue), 20%, 10%;
    --hsl-f1: var(--base-hue), 10%, 60%;
    --hsl-b1: var(--base-hue), 10%, 40%;
    --hsl-b2: var(--base-hue), 10%, 30%;
    --hsl-b3: var(--base-hue), 10%, 25%;
    --hsl-b4: var(--base-hue), 10%, 20%;
    --hsl-b5: var(--base-hue), 10%, 15%;
    --hsl-b6: var(--base-hue), 10%, 10%;
    --c-saturation-1: 100%;
    --c-saturation-2: 80%;
    --c-saturation-3: 60%;
    --c-saturation-4: 40%;
    --c-lightness-1: 70%;
    --c-lightness-2: 60%;
    --c-lightness-3: 50%;
    --c-lightness-4: 30%;
    --colour-pink-hue: 333;
    --hsl-pink-1: var(--colour-pink-hue), var(--c-saturation-1), var(--c-lightness-1);
    --hsl-pink-2: var(--colour-pink-hue), var(--c-saturation-2), var(--c-lightness-2);
    --hsl-pink-3: var(--colour-pink-hue), var(--c-saturation-3), var(--c-lightness-3);
    --hsl-pink-4: var(--colour-pink-hue), var(--c-saturation-4), var(--c-lightness-4);
    --colour-purple-hue: 255;
    --hsl-purple-1: var(--colour-purple-hue), var(--c-saturation-1), var(--c-lightness-1);
    --hsl-purple-2: var(--colour-purple-hue), var(--c-saturation-2), var(--c-lightness-2);
    --hsl-purple-3: var(--colour-purple-hue), var(--c-saturation-3), var(--c-lightness-3);
    --hsl-purple-4: var(--colour-purple-hue), var(--c-saturation-4), var(--c-lightness-4);
    --colour-blue-hue: 200;
    --hsl-blue-1: var(--colour-blue-hue), var(--c-saturation-1), var(--c-lightness-1);
    --hsl-blue-2: var(--colour-blue-hue), var(--c-saturation-2), var(--c-lightness-2);
    --hsl-blue-3: var(--colour-blue-hue), var(--c-saturation-3), var(--c-lightness-3);
    --hsl-blue-4: var(--colour-blue-hue), var(--c-saturation-4), var(--c-lightness-4);
    --colour-green-hue: 125;
    --hsl-green-1: var(--colour-green-hue), var(--c-saturation-1), var(--c-lightness-1);
    --hsl-green-2: var(--colour-green-hue), var(--c-saturation-2), var(--c-lightness-2);
    --hsl-green-3: var(--colour-green-hue), var(--c-saturation-3), var(--c-lightness-3);
    --hsl-green-4: var(--colour-green-hue), var(--c-saturation-4), var(--c-lightness-4);
    --colour-lime-hue: 90;
    --hsl-lime-1: var(--colour-lime-hue), var(--c-saturation-1), var(--c-lightness-1);
    --hsl-lime-2: var(--colour-lime-hue), var(--c-saturation-2), var(--c-lightness-2);
    --hsl-lime-3: var(--colour-lime-hue), var(--c-saturation-3), var(--c-lightness-3);
    --hsl-lime-4: var(--colour-lime-hue), var(--c-saturation-4), var(--c-lightness-4);
    --colour-orange-hue: 45;
    --hsl-orange-1: var(--colour-orange-hue), var(--c-saturation-1), var(--c-lightness-1);
    --hsl-orange-2: var(--colour-orange-hue), var(--c-saturation-2), var(--c-lightness-2);
    --hsl-orange-3: var(--colour-orange-hue), var(--c-saturation-3), var(--c-lightness-3);
    --hsl-orange-4: var(--colour-orange-hue), var(--c-saturation-4), var(--c-lightness-4);
    --colour-red-hue: 360;
    --hsl-red-1: var(--colour-red-hue), var(--c-saturation-1), var(--c-lightness-1);
    --hsl-red-2: var(--colour-red-hue), var(--c-saturation-2), var(--c-lightness-2);
    --hsl-red-3: var(--colour-red-hue), var(--c-saturation-3), var(--c-lightness-3);
    --hsl-red-4: var(--colour-red-hue), var(--c-saturation-4), var(--c-lightness-4);
    --colour-darkorange-hue: 20;
    --hsl-darkorange-1: var(--colour-darkorange-hue), var(--c-saturation-1), var(--c-lightness-1);
    --hsl-darkorange-2: var(--colour-darkorange-hue), var(--c-saturation-2), var(--c-lightness-2);
    --hsl-darkorange-3: var(--colour-darkorange-hue), var(--c-saturation-3), var(--c-lightness-3);
    --hsl-darkorange-4: var(--colour-darkorange-hue), var(--c-saturation-4), var(--c-lightness-4);
    --colour-rank-d: #ff5a5a;
    --colour-rank-c: #ff8e5d;
    --colour-rank-b: #e3b130;
    --colour-rank-a: #88da20;
    --colour-rank-s: #02b5c3;
    --colour-rank-ss: #de31ae;
}

:root {
    --square-size: 15px;
    --square-gap: 5px;
    --week-width: calc(var(--square-size) + var(--square-gap));
}

a {
    text-decoration: none;
}

.months {
    grid-area: months;
}

.days {
    grid-area: days;
}

.squares {
    grid-area: squares;
}

.graph {
    display: inline-grid;
    grid-template-areas: "empty months"
        "days squares";
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}

.months {
    display: grid;
    grid-template-columns: calc(var(--week-width) * 4)
        /* Jan */
        calc(var(--week-width) * 4)
        /* Feb */
        calc(var(--week-width) * 4)
        /* Mar */
        calc(var(--week-width) * 5)
        /* Apr */
        calc(var(--week-width) * 4)
        /* May */
        calc(var(--week-width) * 4)
        /* Jun */
        calc(var(--week-width) * 5)
        /* Jul */
        calc(var(--week-width) * 4)
        /* Aug */
        calc(var(--week-width) * 4)
        /* Sep */
        calc(var(--week-width) * 5)
        /* Oct */
        calc(var(--week-width) * 4)
        /* Nov */
        calc(var(--week-width) * 5)
        /* Dec */
    ;
}

.days,
.squares {
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-rows: repeat(7, var(--square-size));
}

.squares {
    grid-auto-flow: column;
    grid-auto-columns: var(--square-size);
}

.graph {
    list-style-type: none;
}

/* .days li:nth-child(odd) {
    visibility: hidden;
} */

.squares li {
    background-color: #ebedf0;
}

.squares li[data-level="1"] {
    background-color: #c6e48b;
}

.squares li[data-level="2"] {
    background-color: #7bc96f;
}

.squares li[data-level="3"] {
    background-color: #196127;
}

.mod {
    --mod-height: 24px;
    --generic-display: flex;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: var(--mod-height, 22px);
    position: relative;
    /* width: calc(var(--mod-height, 22px)*45/32) */
}

.mod-img {
    --generic-display: none;
}

.mod:after {
    align-items: center;
    color: #545454;
    content: attr(data-acronym);
    display: var(--generic-display);
    font-size: 12px;
    height: 100%;
    justify-content: center;
    left: 0;
    padding-right: 1px;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 100%
}

.score-info {}

.score-info__item {
    margin: 10px;
    position: relative;
}

.score-info__item--dial {
    margin: 0 15px;
    width: 200px;
    height: 200px;
}

.score-stats {
    display: flex;
    flex-direction: column;
    padding: 20px 10px
}

.score-stats__group {
    grid-gap: 5px;
    display: grid;
    width: 100%;
}

.score-stats__group--stats .score-stats__group-row {
    grid-gap: 5px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.score-stats__stat,
.score-stats__stat-small {
    background-color: hsla(324, 10%, 10%, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 8px;
}

.score-stats__stat-small {
    padding: 4px;
}

.score-stats__stat-row,
.score-stats__stat-row-small {
    font-size: 20px;
    line-height: normal;
    margin: 2px;
}

.score-stats__stat-row-small {
    font-size: 13px;
}

.score-stats__stat-row--label {
    font-size: 10px;
    text-transform: uppercase;
    white-space: nowrap
}

.score-stats__stat-row--label-small {
    font-size: 8px;
    text-transform: uppercase;
    white-space: nowrap
}

.score-stats__stat-row--perfect {
    color: hsl(var(--hsl-lime-1))
}

.score_dial {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.score_dial_layer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.score_dial_layer_grade {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "Venera";
    font-size: 50px;
    padding-top: 0.15em;
    text-shadow: 0 0 10px hsl(var(--hsl-c1))
}

.score-dial_outer_gradient_start {
    stop-color: hsl(var(--hsl-blue-1))
}

.score-dial_outer_gradient_end {
    stop-color: hsl(var(--hsl-lime-1))
}

.score_dial_inner {
    stroke: none;
}

.score_dial_inner-0 {
    fill: var(--colour-rank-d);
}

.score_dial_inner-1 {
    fill: var(--colour-rank-c);
}

.score_dial_inner-2 {
    fill: var(--colour-rank-b);
}

.score_dial_inner-3 {
    fill: var(--colour-rank-a);
}

.score_dial_inner-4 {
    fill: var(--colour-rank-s);
}

.score_dial_inner-5 {
    fill: var(--colour-rank-ss);
}

.score_dial_outer-0 {
    fill: url(#dial-outer);
}

.score_dial_outer-1 {
    fill: hsl(var(--hsl-b6))
}

.difficulty-badge {
    border-radius: 10000px;
    background-color: var(--bg);
    color: hsl(var(--hsl-b6));
    padding: 0 0.5em;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: "max(0.6em, 12px)";
    height: 100%;
}

.difficulty-badge__expert-plus {
    color: hsl(var(--hsl-orange-1));
}

.difficulty-badge__icon {
    font-size: 0.3em;
    margin-right: 0.4em;
}

.difficulty-badge__rating {
    min-width: 0.5em * 2 + 0.2em;
}

.lazer-text-gradient {
    /* text color #FFFFFF to #B2E5FE top to bottom */
    color: #FFFFFF;
    background: linear-gradient(180deg, #FFFFFF, #B2E5FE);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}